:root {
    --figma-red: #ff3b00;
    --figma-pink: #ff7667;
    --figma-purple: #ae4dff;
    --figma-blue: #00beff;
    --figma-green: #00d47b;
}

.text-bg {
    overflow: hidden;
    background-color: #000;
    z-index: -4;
    opacity: 0.5;
}

.text {
    position: relative;
    transform: skewY(345deg) translateY(-800px);
    display: flex;
    flex-wrap: wrap;
    color: var(--figma-red);
    animation: animateColor 5s linear alternate infinite;
    width: 400vw;
}

@keyframes animateColor {
    0% {
        color: var(--figma-red);
    }
    25% {
        color: var(--figma-pink);
    }
    50% {
        color: var(--figma-purple);
    }
    75% {
        color: var(--figma-blue);
    }
    100% {
        color: var(--figma-green);
    }
}

.text h2 {
    position: relative;
    width: fit-content;
    font-size: 4rem;
    font-weight: bold;
    pointer-events: none;
    line-height: 1em;
    white-space: nowrap;
    text-shadow: calc(var(--x)) 100px 0 rgba(255, 255, 255, 0.1);
    transform: translateX(calc(0% - var(--x) * var(--i)));
    padding-inline: 1rem;
}


.text h2:nth-child(even) span {
    color: transparent;
    -webkit-text-stroke: 0.5px #ffffff;
}