html {
  scroll-behavior: smooth;
}


:root {
  --google-blue : #4285F4;
  --google-red : #DB4437;
  --google-yellow : #f5b400;
  --google-green : #0F9D58;
}

.light-theme {
  --bg-color : #ffffff;
  --default-font-color : #000;
  --link-color : #2a2525;
  --dsc-logo-red : #DB4437;
  --dsc-logo-blue : #4285F4;
  --dsc-logo-yellow : #f5b400;
  --dsc-logo-green : #0F9D58;

  --hero-bg : #f2f2f2;
  --hero-blur : #00000083;
  --about-bg : #e57368;
  --lead-bg : #76a7fa;
  --events-bg : #fbcb43;
  --contact-bg : #33b679;
  --card-bg : #afb5cd;
  
  --accordian-bg : #ffffff;
  --btn-text : #f2f2f2;

  --badges-hover-text : #fff;
}

.dark-theme {
  --bg-color : #222222;
  --default-font-color : #e4e4e4;
  --link-color : #a4a4a4;
  --dsc-logo-red : #fff;
  --dsc-logo-blue : #fff;
  --dsc-logo-yellow : #fff;
  --dsc-logo-green : #fff;
  
  --hero-bg : #131313;
  --hero-blur : #00000083;
  --about-bg : #222;
  --team-bg-font : #efefef69;
  --lead-bg : #131313;
  --events-bg : #222;
  --contact-bg : #131313; 
  --card-bg : #25262a;
  
  --accordian-bg : #34353c;
  --btn-text : #222222;
  --badges-hover-text : #000;
}

.App {
  min-height: 100vh;
  color: var(--default-font-color);
  transition: all 0.5s ease-in-out;
}

.switch {
  z-index: 999;
}

/* HEADER */

.Logo_logoRedPart__QJGXu {
  fill: var(--dsc-logo-red);
  transition: all 0.5s ease-in-out;
}

.Logo_logoGreenPart__LnIju {
  fill: var(--dsc-logo-green);
  transition: all 0.5s ease-in-out;
}

.Logo_logoYellowPart__AVkWI {
  fill: var(--dsc-logo-yellow);
  transition: all 0.5s ease-in-out;
}

.Logo_logoBluePart__Gg0LP {
  fill: var(--dsc-logo-blue);
  transition: all 0.5s ease-in-out;
}

header {
  z-index: 999;
}

.navB {
  z-index: 999;
  --border: 3px;
  --gap: 5px;
  --offset: 10px;
  --_s: var(--offset);

  border-radius: 50%;
  cursor: pointer;
  padding: 5px;
  border: var(--offset) solid #0000;
  --_m: radial-gradient(
    50% 50%,
    #000 calc(100% - var(--offset)),
    #0000 calc(100% - var(--border))
  );

  -webkit-mask: var(--_m);
  mask: var(--_m);
  --_g: #0000 calc(99% - var(--border)),
    var(--google-red) calc(100% - var(--border)) 99%, #0000;
  --_h: #0000 calc(99% - var(--border)),
    var(--google-blue) calc(100% - var(--border)) 99%, #0000;
  --_i: #0000 calc(99% - var(--border)),
    var(--google-green) calc(100% - var(--border)) 99%, #0000;
  --_j: #0000 calc(99% - var(--border)),
    var(--google-yellow) calc(100% - var(--border)) 99%, #0000;
  --_r: 100% 100% at;

  background: radial-gradient(var(--_r) 0 0, var(--_g)) calc(100% + var(--_s))
      calc(100% + var(--_s)),
    radial-gradient(var(--_r) 100% 0, var(--_h)) calc(0% - var(--_s))
      calc(100% + var(--_s)),
    radial-gradient(var(--_r) 0 100%, var(--_i)) calc(100% + var(--_s))
      calc(0% - var(--_s)),
    radial-gradient(var(--_r) 100% 100%, var(--_j)) calc(0% - var(--_s))
      calc(0% - var(--_s));
  background-size: 50% 50%;
  background-repeat: no-repeat;
  transition: 0.4s;
}

.navB:hover {
  --_s: 0px;
}


.navB label {
  display: flex;
  flex-direction: column;
  width: 40px;
  cursor: pointer;
  margin: 10px;
}

.navB label span {
  background: var(--default-font-color);
  border-radius: 10px;
  height: 5px;
  margin: 4px 0;
  transition: 0.5s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.navB span:nth-of-type(1) {
  margin-left: auto;
  width: 50%;
}

.navB span:nth-of-type(2) {
  width: 100%;
}

.navB span:nth-of-type(3) {
  margin-left: auto;
  width: 75%;
}

.navB input[type="checkbox"] {
  display: none;
}

.navB input[type="checkbox"]:checked ~ span:nth-of-type(1) {
  transform-origin: bottom;
  transform: rotatez(-45deg) translate(-7px, 1px);
}

.navB input[type="checkbox"]:checked ~ span:nth-of-type(2) {
  transform-origin: top;
  transform: rotatez(45deg);
}

.navB input[type="checkbox"]:checked ~ span:nth-of-type(3) {
  transform-origin: bottom;
  width: 50%;
  transform: translate(-17px, -7px) rotatez(-45deg);
}

#opt1 {
  background-color: var(--bg-color);
}

#opt1 ul {
  opacity: 0;
  transform: translateX(50px);
  transition: all 0.5s ease-in;
}

#opt1 ul li:hover{
  scale: 1.1;
  transition: all 0.2s ease-in;
}

#opt1, #opt2 {
  width: 0;
  transition: all 0.5s ease-in-out;
}


/* HOMEPAGE */
/* HERO */

.Hero {
  height: 100vh;
  color: var(--default-font-color);
}

.bg {
  position: fixed;
  z-index: -4;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  --dot-bg: var(--hero-bg);
  --dot-color: var(--default-font-color);
  --dot-size: 1.5px;
  --dot-space: 22px;
	background:
		linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
		linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
		var(--dot-color);

  transition: all 0.5s ease-in-out;
}

.blob{
  border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
  width: 60%; 
  height: 60%;
  animation: morph 7s linear infinite; 
  transform-style: preserve-3d;
  outline: 1px solid transparent;
  will-change: border-radius;
}

.blob-1 {
  background-color: var(--dsc-logo-red); 
}
.blob-2 {
  background-color: var(--dsc-logo-blue); 
}
.blob-3 {
  background-color: var(--dsc-logo-green);
}
.blob-4 {
  background-color: var(--dsc-logo-yellow);
}

@keyframes morph{
  0%,100%{
  border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    transform: translate3d(0,0,0) rotateZ(0.01deg);
  }
  34%{
      border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
    transform:  translate3d(0,5px,0) rotateZ(0.01deg);
  }
  50%{
    opacity: .89;
    transform: translate3d(0,0,0) rotateZ(0.01deg);
  }
  67%{
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60% ;
    transform: translate3d(0,-3px,0) rotateZ(0.01deg);
  }
}

.phone {
  transition: all 0.5s ease-in-out;
  transform: rotateY(-30deg) rotateX(15deg);
}

.phone:hover {
  transform: rotateY(0deg) rotateX(0deg);
}

.float-phone {
  transition: all 0.5s ease-in-out;
}

.float-phone:hover {
  border-bottom: 2px solid white;
  border-right: 2px solid white; 
}

.orbit {
  transform-origin: center;
  animation: orbit 25s linear infinite 0.5s;
  right: 70%;
  z-index: -1;
}

@media screen and (max-width: 550px) {
  .orbit {
    top: -10%;
    right: 30%;
  }
}

.orbit:hover, .orbit:hover > .circle img {
  animation-play-state: paused;
}

.circle {
  position: absolute;
  left: calc(50% - 25px);
  top: calc(50% - 25px);
  height: 80px;
  width: 80px;
  background-color: #fff;
  border: 1px solid #d6d6d65c;
  border-radius: 50%;
  z-index: -1;
}

@media screen and (max-width : 768px) {
  .circle {
    height: 60px;
    width: 60px;
  }
}


.circle:nth-child(1) {
  transform: rotate(0deg) translate(180px) rotate(0deg);
}

.circle:nth-child(2) {
  transform: rotate(calc(360deg / 6 * 1)) translate(180px) rotate(calc(360deg / 6 * -1));;
}

.circle:nth-child(3) {
  transform: rotate(calc(360deg / 6 * 2)) translate(180px) rotate(calc(360deg / 6 * -2));
}

.circle:nth-child(4) {
  transform: rotate(calc(360deg / 6 * 3)) translate(180px) rotate(calc(360deg / 6 * -3));
}

.circle:nth-child(5) {
  transform: rotate(calc(360deg / 6 * 4)) translate(180px) rotate(calc(360deg / 6 * -4));
}
.circle:nth-child(6) {
  transform: rotate(calc(360deg / 6 * 5)) translate(180px) rotate(calc(360deg / 6 * -5));
}


@keyframes orbit {
  100% {
    rotate: 1turn;
  }
}
@keyframes orbit1 {
  0% {
    scale: 1;
  }
  100% {
    scale: 1.1;
  }
}

.circle img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  animation: orbit 25s linear reverse infinite 0.5s;
  transition: all 0.5s ease-in-out;
}

.Hero .logo-img {
  border-radius: 0.4rem;
  padding: 0.2rem;
}

.Hero .logo-text {
  font-size: 1.3rem;
}

@media screen and (max-width : 768px) {
  .Hero .logo-img {
    margin: 1rem;
    height: fit-content;
  }
}

/* ABOUT SECTION */
.About {
  background-color: transparent;
}

.about-btn {
  background-color: var(--dsc-logo-blue);
  color: var(--btn-text);
  padding-inline: 0.6rem;
  padding-block: 0.7rem;
  border-radius: 0.2rem;
}

.About .about-btn {
  background-color: var(--dsc-logo-red);
}

.about-wave {
  fill: var(--about-bg);
}

/* TEAM SECTION */
.team {
  background-color: transparent;
}


.overlay {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #00000080;
  z-index: 0;
}

.Team .about-btn {
  background-color: var(--dsc-logo-green);
}

.Team .team-header {
  background-image: url(./Images/event/team.jpeg);
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  color: #fff;
}

@media screen and (max-width : 990px) {
  .Team .team-header {
    background-position: center center;
  }
}

.mcard {
  position: relative;

  max-width: 90%;
  min-height: 300px;
  height: fit-content;
  aspect-ratio: 4/3;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: var(--bg-color);
  border: 2px solid var(--dsc-logo-red);

  cursor: pointer;
}


.mcard::before {
  content: '';
  position: absolute;
  top: 20px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% - 40px);
  background-color: var(--bg-color);
  transition: all 0.5s ease-in-out;
  transform: scaleY(1);
}

.mcard:hover::before {
  transform: scaleY(0);
}

.mcard::after {
  content: '';
  position: absolute;
  top: -2px;
  left: 20px;
  height: calc(100% + 4px);
  width: calc(100% - 40px);
  background-color: var(--bg-color);
  transition: all 0.5s ease-in-out;
  transform: scaleX(1);
}

.mcard:hover::after {
  transform: scaleX(0);
}

.mcard div{
  position: relative;
  z-index: 20;
}

.badges {
  border: 2px solid black;
  padding-block: 0.2rem;
  padding-inline: 0.4rem;
  border-radius: 9999px;
  cursor: pointer;
  color: var(--default-font-color);
  transition: all 0.3s ease-in-out;
}

.badges:hover {
  color: var(--badges-hover-text);
}

.badges-1, .type-1 .mcard {
  border-color: var(--dsc-logo-red);
}

.badges-1:hover {
  background-color: var(--dsc-logo-red);
}

.badges-2, .type-2 .mcard, .past-events .mcard {
  border-color: var(--dsc-logo-blue);
}

.badges-2:hover {
  background-color: var(--dsc-logo-blue);
}


.badges-3, .type-3 .mcard {
  border-color: var(--dsc-logo-yellow);
}
.badges-3:hover {
  background-color: var(--dsc-logo-yellow);
}

.badges-4, .type-4 .mcard {
  border-color: var(--dsc-logo-green);
}
.badges-4:hover {
  background-color: var(--dsc-logo-green);
}



.team-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  z-index: 0;
  text-transform: uppercase;
  font-size: 4rem;
  color: var(--team-bg-font);
  letter-spacing: 2rem;
}

.lead, .management-team, .web-team, .aiml-team, .technical-team, .flutter-team, .design-team, .dsa-team {
  padding-inline: 2rem;
}

/* LEAD SECTION */
.Lead {
  background-color: var(--lead-bg);
  color: #fff;
  z-index: 10;
}

.lead-img {
  border: 2px solid black;
  width: 50%;
  aspect-ratio: 3/4;
}

.lead-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.lead-wave {
  fill: var(--lead-bg);
}

@media screen and (max-width : 768px) {
  .lead-info {
    text-align: center;
  }
}

/* EVENTS SECTION */
.Events {
  background-color: transparent;
}

.EventsPage .team-header {
  background-image: url(./Images/event/eventBanner.jpg);
  color: #fff;
}

@media screen and (max-width : 990px) {
  .EventsPage .team-header {
    background-position: center top;
  }
}

.Events .about-btn {
  background-color: var(--dsc-logo-yellow);
}

.events-wave {
  fill: var(--events-bg);
}

/* CONTACT SECTION */
.Contact {
  background-color: transparent;
  color: var(--default-font-color);
}

/* TEAMS PAGE */

.member-card {
  background-color: var(--card-bg);
}

.member-img {
  max-height: 7rem;
  aspect-ratio: 1/1;
}

.member-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

/* ABOUT SECTION */
.que {
  background-color: var(--accordian-bg);
  border: 1px solid black;
  border-radius: 0.3rem;
}

/* FOOTER SECTION */
.Footer {
  background-color: var(--bg-color);
}







.post-header {
  border-radius: 9999px;
  height: 80%;
  aspect-ratio: 1/1;
  background-color: #5ab6fc;
  overflow: hidden;
  border: 2px solid black;
  position: relative;
}

@media screen and (max-width : 990px) {
  .post-header {
    height: auto;
    width: 100%;
  }
}

.post-header .hero-image {
  position: absolute;
  bottom: -30%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}
.hero-image-container {
  animation: hero-fade-in 1s 0.5s linear forwards;
  opacity: 0;
  overflow: hidden;
  position: relative;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 56.25em;
  height: 26em;
}
@keyframes hero-fade-in {
  100% {
    opacity: 1;
  }
}
.window-background {
  animation: background-color 5s cubic-bezier(0.81, -0.46, 0.19, 1.33) infinite;
  position: absolute;
  height: 40em;
  width: 30em;
  top: 0;
}
.screen-container {
  animation: move-emails 5s infinite ease-out;
  position: absolute;
  width: 7.6em;
  height: 6em;
  bottom: 6.66em;
  background: #fff url(//cssanimation.rocks/images/courses/animation_101/emails.svg) repeat-y;
  background-size: 100% auto;
  left: 50%;
  transform: translate(-16.4%, -10%);
}
.notification {
  animation: move-notification 5s infinite cubic-bezier(0.81, -0.46, 0.19, 1.33);
  position: absolute;
  bottom: 57%;
  left: 65%;
  width: 4%;
  height: 3%;
  background: #fff url(//cssanimation.rocks/images/courses/animation_101/notification.svg);
  background-size: 100%;
}
.moon {
  animation: moon 5s infinite linear;
  position: absolute;
  left: 25%;
  top: 3%;
  background: url(//cssanimation.rocks/images/courses/animation_101/moon.svg) no-repeat;
  background-size: 100%;
  height: 25%;
  width: 8%;
  transform-origin: 30% 350%;
}
@keyframes background-color {
  0% {
    background: #011;
  }
  20%, 30% {
    background: #5ab6fc;
  }
  100% {
    background: #011;
  }
}
@keyframes move-emails {
  0%, 24% {
    background-position: 0 -4.6em;
    animation-timing-function: cubic-bezier(0.81, -0.46, 0.19, 1.33);
  }
  34%, 60% {
    background-position: 0 0;
  }
  90%, 100% {
    background-position: 0 -78%;
  }
}
@keyframes move-notification {
  0%, 20% {
    transform: translateX(0.25em);
    opacity: 0;
  }
  50%, 58% {
    transform: none;
    opacity: 1;
  }
  70%, 100% {
    transform: translateX(-0.25em);
    opacity: 0;
  }
}
@keyframes moon {
  0% {
    transform: none;
    animation-timing-function: cubic-bezier(0.25, 0, 0.41, 1);
  }
  100% {
    transform: rotateZ(-360deg);
    animation-timing-function: linear;
  }
}
@media (max-width: 550px) {
  .demo-container.clocks.single .clock, .badge {
    font-size: 12px;
  }
}
@media (max-width: 420px) {
  .demo-container.clocks.single .clock, .badge {
    font-size: 10px;
  }
}
