:root {
  --bg-color : rgb(34, 34, 34);
  --default-font-color : #e4e4e4;
  --google-blue : #4285F4;
  --google-red : #DB4437;
  --google-yellow : #F4B400;
  --google-green : #0F9D58;
}

.App {
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--default-font-color);
}